<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}IAHM - International Association of Healing Ministries{% endblock %}</title>
    <!---->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
 $( document ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) { // ESC
        $("modalEvent1").hide();
        $("overlayEvent1").hide();
        $("modalEvent2").hide();
        $("overlayEvent2").hide();
        $("modalEvent3").hide();
        $("overlayEvent3").hide();
    }
});
   $(document).ready(function(){
        $("modalEvent1").hide();
        $("overlayEvent1").hide();

        $("#hideEvent1").click(function(){
            $("modalEvent1").hide();
            $("overlayEvent1").hide();
        });
        $("#showEvent1").click(function(){
            $("modalEvent1").show();
            $("overlayEvent1").show();
        });
    });

    $(document).ready(function(){
        $("modalEvent2").hide();
        $("overlayEvent2").hide();

        $("#hideEvent2").click(function(){
            $("modalEvent2").hide();
            $("overlayEvent2").hide();
        });
        $("#showEvent2").click(function(){
            $("modalEvent2").show();
            $("overlayEvent2").show();
        });
    });

    $(document).ready(function(){
        $("modalEvent3").hide();
        $("overlayEvent3").hide();

        $("#hideEvent3").click(function(){
            $("modalEvent3").hide();
            $("overlayEvent3").hide();
        });
        $("#showEvent3").click(function(){
            $("modalEvent3").show();
            $("overlayEvent3").show();
        });
    });
    </script>
    <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>
   <meta name="viewport"
          content="initial-scale=1, width=device-width, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width, minimal-ui">

<!--
    <meta name="viewport" content="height=device-height, initial-scale=1.0 maximum-scale=1.0">-->

    {% block meta %}{% endblock %}
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/layout.css') }}" type="text/css"/>
    {% endblock %}


    {% block javascripts %}
    <!-- Add vUnit.js to the head to avoid FOUC -->
    <!----><script type="text/javascript" src="{{ asset('vunit/vunit.js') }}"></script>
        <script src="//use.typekit.net/dqq8egl.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    {% endblock %}

    <!-- Instantiate vUnit.js passing a CSSMap with properties you want to play with -->
    <script type="text/javascript">
        new vUnit({
            CSSMap: {
                '.vh': {
                    property: 'height',
                    reference: 'vh'
                },
                '.vw': {
                    property: 'width',
                    reference: 'vw'
                },
                '.vwfs': {
                    property: 'font-size',
                    reference: 'vw'
                },
                '.vhmt': {
                    property: 'margin-top',
                    reference: 'vh'
                },
                '.vhmb': {
                    property: 'margin-bottom',
                    reference: 'vh'
                },
                '.vminw': {
                    property: 'width',
                    reference: 'vmin'
                },
                '.vmaxw': {
                    property: 'width',
                    reference: 'vmax'
                }
            }
        }).init();
    </script>
</head>
<body>
 <!--   <header>
        <section id="ruban">
            <div id="logoRight"></div>
            <div id="logoLeft"></div>
            <nav class="main">
                <ul>
                    <li class="current">&nbsp;</li>
                    <li><a href="#events" target="_parent">Events</a></li>
                    <li><a href="#presentation" target="_parent">Presentation</a></li>
                    <li><a href="#vision" target="_parent">Vision</a></li>
                    <li><a href="#mission" target="_parent">Mission</a></li>
                    <li class="lastItem"><a href="#contact" target="_parent">Contact</a></li>
                </ul>

            </nav>

        </section>
    </header>

-->
    <section class="page">
{% block body %}{% endblock %}
    </section>


<footer>
<section class="contact">
    <article><a name="contact"></a>
        <h3>Contact</h3>
            <p>
                IAHM - International Association <br />of Healing Ministries<br />
                Rte du Flon 28 - 1610 Oron-la-Ville - Switzerland<br /><br />
                0041 21 907 44 44<br />
             info@laguerison.org </p>
        </p>
    </article>
</section>
</footer>
</body>
</html>
